@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fill {
    from {
        display: none;
    }
    to {
        z-index: 1;
        display: block;
    }
}
@keyframes espace {
    from {
        margin-top: 50px;
        opacity: 0;
    }
    to {
        margin-top: 25px;
        opacity: 1;
    }
}
@mixin bouton {
    text-decoration: none;
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 30px;
    color: white;
    padding: 13px 20px;
}
body {
    margin: 0;
    font-family: "roboto", sans-serif;
}
#loading {
    text-align: center;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: hide;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    i {
        font-size: 200px;
        animation-duration: 2.5s;
        animation-name: spinner;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        color: $color-primary;
    }
}
main {
    margin-top: -25px;
}

header {
    display: flex;
    justify-content: center;
    img {
        width: 40%;
        margin-top: 5px;
    }
}
#recherche {
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 1px 3px 0px rgba($color: #000000, $alpha: 0.3);
    i {
        margin-right: 5%;
    }
}
#img-restau {
    img {
        width: 100%;
    }
}
.preface {
    background-color: #f6f6f6;
    text-align: center;
    height: 300px;
    h1 {
        padding-top: 25px;
        font-size: x-large;
        margin-left: 65px;
        margin-right: 65px;
    }
    h2 {
        font-size: medium;
        font-weight: normal;
        margin: 0px 65px 50px 65px;
    }
    #explore {
        .bouton-explore {
            text-decoration: none;
            background: linear-gradient($color-secondary, $color-primary);
            border-radius: 30px;
            color: white;
            padding: 13px 20px;
            &:hover,
            &:active {
                opacity: 0.8;
            }
        }
    }
}
#tutorial {
    margin-left: 1%;
    .fonction-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin-left: 5%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        margin: 5%;
        p:first-child {
            background-color: $color-primary;
            border-radius: 50%;
            width: 6%;
            margin-left: -3%;
            color: white;
            text-align: center;
            height: 20px;
        }
        i {
            color: grey;
            font-size: larger;
        }
        p:last-child {
            margin-right: 20%;
            font-size: larger;
            font-weight: bold;
        }
        &:hover {
            background-color: rgba($color: $color-secondary, $alpha: 0.2);

            i {
                color: $color-primary;
            }
        }
    }
}
section {
    height: fit-content;
    background-color: rgba($color: $color-tertiary, $alpha: 0.3);
    padding-left: 2%;

    .carte-restaurant {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        width: 95%;
        height: 250px;
        background-color: white;
        margin: 2.5%;
        position: relative;
        #new {
            position: absolute;
            top: 1%;
            right: 2%;
            background-color: $color-tertiary;
            padding: 1%;
            border-radius: 3px;
            color: darkgreen;
        }
        img {
            width: 100%;
            height: 70%;
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .souscarte-restaurant {
            display: flex;
            justify-content: space-between;
            i {
                margin: 6%;
            }
            .fas {
                opacity: 0;
                transition: 1s;
                position: absolute;
                right: 38px;

                &:hover {
                    opacity: 1;
                }
            }
            .fa-gradient {
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
                background-image: -webkit-gradient(
                    linear,
                    left top,
                    left bottom,
                    from($color-primary),
                    to($color-secondary)
                );
            }

            div > * {
                margin: 5px;
            }
        }
    }
    article {
        .all-card {
            .card {
                border: 1px solid black;
                width: 95%;
                border-radius: 15px;
                display: flex;
                overflow: hidden;
                margin-top: 25px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                animation-name: espace;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                &:nth-child(1) {
                    animation-duration: 1s;
                }
                &:nth-child(2) {
                    animation-duration: 1.5s;
                }
                &:nth-child(3) {
                    animation-duration: 2s;
                }
            }
        }
    }
}
#bouton-buy {
    a {
        @extend .bouton-explore;
        &:hover,
        &:active {
            opacity: 0.8;
        }
    }
}
footer {
    background-color: #353535;
    height: 175px;
    img {
        filter: invert(1);
        width: 30%;
        margin: 5%;
    }
    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding-left: 5%;
            line-height: 25px;
            a {
                text-decoration: none;
                i {
                    color: white;
                }
                span {
                    color: white;
                }
            }
        }
    }
}
