.preface {
    background-color: #f6f6f6;
    text-align: center;
    height: 300px;
    h1 {
        padding-top: 25px;
        font-size: x-large;
        margin-left: 65px;
        margin-right: 65px;
        font-family: "roboto", serif;
    }
    h2 {
        font-size: medium;
        font-weight: normal;
        margin: 0px 65px 50px 65px;
    }
}